/** @format */
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,700&display=swap");

:root {
	--White: #ffffff;
	--Light-Grey: #959eac;
	--Medium-Grey: #7c8798;
	--grad-top: #232a32;
	--grad-bottom: #171e28;
	--Dark-Blue: #252d37;
	--Very-Dark-Blue: #121417;
	--Orange: #fb7413;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Overpass", sans-serif;
	background-color: var(--Very-Dark-Blue);
	color: var(--Medium-Grey);
	box-sizing: border-box;
	padding: 5rem;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-height: 100dvh;
}

figure,
p,
h2 {
	padding: 0;
	margin: 0;
}

.main {
	background: radial-gradient(
		ellipse at top,
		var(--Dark-Blue),
		var(--grad-bottom)
	);
	box-sizing: border-box;
	min-height: 27.5rem;
	max-width: 27.5rem;
	border-radius: 2rem;
	padding: 2.15rem;
	padding-bottom: 0;
	position: relative;
}

.thanks {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2.15rem;
	padding-bottom: 0;
	transition: transform 0.5s;
	transform: scale(1);
	visibility: visible;
	opacity: 1;
}

.header {
	transition: transform 0.5s;
	transform: scale(1);
	visibility: visible;
	opacity: 1;
}

.star {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.21rem;
	height: 3.21rem;
	border-radius: 2rem;
	background-color: var(--Medium-Grey);
}

.heading {
	color: var(--White);
	font-size: 1.9rem;
	margin-top: 2.2rem;
	padding-bottom: 0;
	margin-bottom: 0;
}

.paragraph {
	color: var(--Light-Grey);
	margin-top: 0.6rem;
	line-height: 1.6;
}

.rating {
	display: flex;
	gap: 1.45rem;
	margin-top: 1.8rem;
}

.btn--rating {
	background-color: var(--Dark-Blue);
	font-weight: bold;
	width: 3.4rem;
	height: 3.4rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	cursor: pointer;
}

.btn--rating:hover {
	color: var(--White);
	background-color: var(--Orange);
}

.btn--active {
	color: var(--White);
	background-color: var(--Medium-Grey);
}

.radios {
	display: none;
}

.margin--right {
	width: 100%;
	box-sizing: border-box;
	padding-right: 0.48rem;
}

.btn--submit {
	color: var(--White);
	/* background-color: rgba(124, 135, 152, 0.5); */
	background-color: var(--Orange);
	width: 100%;
	display: block;
	margin-top: 2.1rem;
	border-radius: 2rem;
	padding: 0.9rem;
	border: none;
	text-transform: uppercase;
	font-family: "Overpass", sans-serif;
	font-size: 1rem;
	letter-spacing: 0.1em;
	transition: all 0.3s;
	cursor: pointer;
}

.btn--submit:hover {
	color: var(--Orange);
	background-color: var(--White);
}

.thanks__img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.info {
	text-align: center;
	color: var(--Orange);
	background-color: rgba(124, 135, 152, 0.5);
	max-width: 13rem;
	font-size: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border-radius: 2rem;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.heading--secondary {
	margin: 0;
	text-align: center;
	margin-top: 2.4rem;
}

.paragraph-secondary {
	margin: 0;
	margin-top: 0.6rem;
	text-align: center;
	max-width: 22.8rem;
}

.hidden {
	visibility: hidden;
	transform: scale(0.7);
	opacity: 0;
}

@media screen and (max-width: 600px) {
	body {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.main {
		padding-bottom: 2.15rem;
		max-width: 22rem;
	}

	.rating {
		gap: 0.7rem;
	}

	.btn--rating {
		max-width: 3rem;
		height: 3rem;
	}
}
